{% extends 'base.html' %}


{% block content %}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    {% comment %} <h3>4536+ Jobs Available</h3> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_details_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="card shadow-sm p-4 mb-5 bg-white rounded">
                    <div class="row align-items-center">
                        <!-- Profile Image -->
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4 mb-md-0">
                            <img src="{{profile.image.url}}" class="img-thumbnail img-fluid border border-5 border-light shadow" width="300" height="300" alt="Profile Image" />
                        </div>
                        <!-- Profile Details -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="fw-bold mb-2">Username:</p>
                                    <p class="fw-bold mb-2">Name:</p>
                                    <p class="fw-bold mb-2">Email:</p>
                                    <p class="fw-bold mb-2">Phone Number:</p>
                                    <p class="fw-bold mb-2">Address:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mb-2">{{profile}}</p>
                                    <p class="mb-2">{{profile.user.first_name}} {{profile.user.last_name}}</p>
                                    <p class="mb-2">{{profile.user.email}}</p>
                                    <p class="mb-2">{{profile.phone_number}}</p>
                                    <p class="mb-2">Turkey / {{profile.city}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Button -->
                    <div class="text-center mt-4">
                        <a href="{% url 'accounts:edit' %}" class="btn btn-primary btn-lg w-100">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
    